# DinePulse — Supabase project
NEXT_PUBLIC_SUPABASE_URL=https://ylzwwojveufntysehvkl.supabase.co
NEXT_PUBLIC_SUPABASE_PUBLISHABLE_KEY=sb_publishable_XsEpvVeSoioxLPJW9HIzFg_hKEWU58x
NEXT_PUBLIC_API_URL=http://localhost:4000

SUPABASE_URL=https://ylzwwojveufntysehvkl.supabase.co
SUPABASE_PUBLISHABLE_KEY=sb_publishable_XsEpvVeSoioxLPJW9HIzFg_hKEWU58x
PORT=4000
CORS_ORIGIN=http://localhost:3000
